.user-profile-img {
    margin: 3px auto;
    width: 120px;
    height: 120px;
    border: 5px solid #d2d6de;
    border-radius: 50%;
    display: block;
}

.user-profile-name, .user-profile-gender {
    margin-top: 5px;
    text-align: center;
}

.margin-zero {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.update-avatar {
    color: #b3b3ba;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
}

.update-avatar:hover {
    color: lightblue;
    font-weight: bold;
}

.edit-button-right {
    text-align: right;
    font-weight: bold;
}

.tag-table-center {
    text-align: center;
}

.tag-delete, .user-delete{
    margin-left: 10px;
    display: inline;
    cursor: pointer;
    color: red;
}

.add-tag {
    margin: 10px 0 0 10px;
    text-align: left;
}

/* tool post */
.post-title, .post-tag {
    padding: 10px;
    display: block;
    width: inherit;
    flex-direction: unset;
}

.post-title:focus, .post-tag:focus {
    outline: none !important;
    border:1px solid #5488c7;
    box-shadow: 0 0 2px #719ECE;
}

.CodeMirror {
	height: 70vh;
}

.CodeMirror .CodeMirror-code .cm-comment {
    background-color: unset;
}

.save-post:focus {
    outline: unset;
}

.dropdown {
    float: right;
}

/* post page */
.flex-container {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    line-height: 1.2;
    border-radius: 10px;
}

#thumbnail-article {
    margin: 10px;
}

#thumbnail-article {
    text-align: center;
}

#thumbnail-article img{
    width: 150px;
    height: 150px;
}

article {
    margin: 10px;
}

article p, h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

h4, h5 {
    font-weight: bold;
}

.nav-fill .nav-item {
    flex: unset;
}

.nav-tag-item a {
    font-weight: bold;
    color: unset;
}

.nav-tabs .nav-link.active {
    font-weight: bold;
    color: #3490dc;
}

.no-post {
    text-align: center;
}

.popular-post {
    border-radius: 5px;
    background-color: #f1f1f1;
}

.card-post {
    padding: 5px;
}

.popular-header {
    text-align: center;
}

.post-item {
    color: unset;
}

.post-item:hover {
    color: unset;
    text-decoration: none;
}

.author-post {
    align-items: center;
}

/* post detail */
.author-detail p {
    margin: unset;
}

.author-name {
    font-weight: bold;
}

.user-avatar {
    padding-right: unset;
}

.user-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 40px;
}

.post-detail-thumbnail, .votes {
    text-align: center;
}

.post-detail-thumbnail img {
    max-width: 800px;
    max-height: 500px;
}

.post-vote {
    position: fixed;
    width: 90%;
    margin-top: 80px;
}

.voted {
    height: 50px;
    font-size: 40px;
    cursor: pointer;
    border-radius: 5px;
}

.voted:hover, .voted-btn {
    color: #6cb2eb;
}

#down-vote {
    flex-direction: column-reverse;
}

.voted:focus {
    outline: unset;
}

.btn:focus {
    box-shadow: none;
}

.points-vote {
    margin-top: 10px;
    height: 30px;
    font-weight: 700;
    font-size: large;
}

.tag-items {
    background-color: #e6e6eb;
    border-radius: 5px;
    padding: 2px;
    width: fit-content;
    margin-right: 10px;
}

/* Comment */
.comment-content, .reply-content {
    width: 100%;
    border-radius: 5px;
}

.owner-avatar {
    text-align: center;
}

.owner-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.comment-form-action, .reply-form-action {
    text-align: right;
}

.comment-content, .reply-content {
    border-color: #e6e6eb;
}

.comment-content:focus {
    border-color: #6cb2eb;
    outline: none;
}

.reply-content:focus {
    border-color: #6cb2eb;
    outline: none;
}

.no-comment {
    line-height: 50px;
    min-height: 50px;
    height: fit-content;
}

.tab-comment {
    cursor: pointer;
}

.commenter-avatar img {
    width: 20px;
    height: 20px;
    border-radius: 30px;
}

.md-contents p {
    margin-bottom: unset;
}

.comment-meta {
    font-size: 0.7rem;
}

.comment-no-login {
    text-align: center;
}

.comment-no-login span {
    font-weight: 900;
}

hr {
    margin-top: unset;
    margin-bottom: 5px;
}

.reply, .delete-comment, .delete-reply {
    cursor: pointer;
}
